

/*----------big tablet to 1200px (width smaller than 1400px row)---------*/
@media only screen and (max-width: 1200px) {
	.hero-text-box{
		width: 100%;
		padding: 0 2%;
	}
    .row{ padding: 0 2%; }

}


/*----------small tablet to big tablets 767-1023px---------*/
@media only screen and (max-width: 1023px) {
	body{ font-size: 18px;  }
	section{padding: 60px 0;}
	.long-copy{
	width:80%;		
	margin-left:10%;
	}
	.steps-box{margin-top: 10px;}
	.steps-box:last-child{margin-top: 10px;}

	.work-step{margin-bottom: 35px;}
	.work-step p{font-size: 90%;}
	.work-step:last-of-type{margin-bottom: 50px;}
	.app-screen{width:60%;}
	.icon{width:10px; margin-right:3px;}
	.city-feature{font-size: 85%;}
	.contact-form{
	width: 80%;}


}



/*----------small phones to small tablets 480px-767px---------*/
@media only screen and (max-width: 767px) {
	body{font-size: 16px;}
	section{padding: 40px 0;}
	.hero-text-box,.row{ padding: 0 4%; }
	.col{width: 100%;}
	.main-nav{display:none;}
	


	h1{font-size: 180%; margin-bottom: 10px;}
	h2{font-size: 160%;}
	.long-copy{	width:100%; margin-left: 0%; padding-bottom: 16px;	}
	.app-screen{width:40%;}
	.steps-box:first-child{text-align: center;}
	.work-step{margin-bottom: 10px;}
	.work-step div{	
	height: 40px;
	width:40px;
	text-align: center;
	font-size: 140%;
	padding:2px;
	font-size: 120%;
	margin-right:10px;

	}
	.work-step:last-of-type{
	margin-bottom: 20px;
	}
	.footer-nav li,
.social-links li{
	margin-bottom:5px;
	margin-right: 0;

}
	footer{padding:10px;}


}

/*----------small phones 0-480px---------*/
@media only screen and (max-width: 480px) {
	section{padding: 25px 0;}
	.contact-form{width: 100%;}
	.btn img{height: 35px;width: auto;}
	.footer-nav li,
	.social-links li{display: block;}
	footer .col {width: 50%;}

}


